<div class='container'>
  <div class='col-md-12'>
    <div class='well center'>
      <h2>Add a new idea</h2>
      <%= form_for @idea, url: root_path do  |f| %>
        <%= f.text_field :title, placeholder: "Title" %>
        <%= f.text_area :description, placeholder: "Description" %>
      <% end %>
      <button id='submit_idea' class='btn btn-primary'>
        Submit Your Bright Idea
      </button>
    </div>
  </div>
</div>
