<%= render "new_idea" %>

<div class='row'>
  <div class='col-md-12'>
    <div class='panel panel-body '>
      Search
      <input id='filter' type='text' placeholder='Filter them ideas!'>
    </div>
  </div>
</div>

<%= render "all_ideas" %>
